<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>YouTube Comment Scraper - Heroku</h2>

  <p>Paste your YouTube link below:</p>
  <form method="post" action="/">
    <label for="youtubeLink"></label>
    <input type="text" name="youtubeLink" size="100" required>
    <br>
    <br>
    <input type="submit" value="submit your text">
  </form>

  <p>Data:</p>
  <p>{{retrievedData}}</p>
  <p>{{functionData}}</p>
</body>
</html>
