div.title-panel {
    padding-top: 10px;
    padding-bottom: 15px;
    box-shadow: none;
}

div.github-repo {
    padding-top: 18px;
    padding-bottom: 15px;
}

div.github-repo a {
    padding-left: 10px;
    font-size: 16px;
}

.github-repo.github-link:hover {
    opacity: 0.4;
}
  
div.github-repo img {
    vertical-align: middle;
    width: 30px;
    height: auto;
}

@media only screen and (max-width: 550px) {
    div.title-panel {
        padding-left: 10px;
        padding-right: 10px;
    }

    div.video-submission-container h2 {
        font-size: 30px;
    }

    div.video-submission-container h5 {
        font-size: 15px;
    }
}