div.comment-thread {
  padding-left: 10px;
  padding-right: 10px
}

div.comment-class-reply {
  padding-left: 50px;
}

div.comment-header img, div.comment-header-creator img {
  vertical-align:middle
}

div.comment-header, div.comment-header-creator{
  background: #c2c6ce;
  padding: 10px
}

div.comment-header-creator { 
  background: #fffdea
}

div.comment-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
}

div.finder {
  background: #c3ffb5;
}

div.no-comments-card {
  padding-top: 20px;
  padding-bottom: 20px
}