p.errorMsg {
  color: red;
 }
 
 div.progress-display p.complete, div.progress-title h5.complete {
   color: green;
 }

 div.progress-class {
   margin-bottom: 50px;
 }

 div.thumbnail img {
  width: 30%;
  height: auto;
}

div.progress-title {
  margin-left: 5%;
}

div.progress-class div.progres-issues-card {
  padding-bottom: 10px;
}